/** {
    outline: 1px solid yellowgreen;
}*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

button {
    font-weight: 900;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    background: black;
    font-weight: 900;
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    margin: 0 auto;
}

.bg-black-up,
.bg-black-bottom {
    padding: 0 7%;
    color: white;
}

@media(max-width: 767px) {

    .bg-black-up,
    .bg-black-bottom {
        padding: 0 3.5%;
    }
}

.bg-white {
    padding: 160px 7%;
    background: white;
    color: #020202;
    border-radius: 160px;
    margin: 40px 0;
}

@media(max-width: 767px) {
    .bg-white {
        padding: 80px 3.5%;
        border-radius: 20px;
    }
}

.bg-white a {
    color: #020202;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin-bottom: 40px;
}

@media(max-width: 767px) {
    header {
        padding: 28px 0;
    }
}

header img {
    width: 250px;
}

@media(max-width: 767px) {
    header img {
        width: 150px;
    }
}

.header-menu {
    display: flex;
}

.header-menu a {
    padding: 20px 0 20px 20px;
    font-weight: normal;
}

.header-menu a:hover {
    color: #919191;
}

.mobile {
    display: none;
}

@media(max-width: 767px) {
    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

    .burger {
        font-size: 25px;
        padding-right: 5%;
    }
}

/*banner*/
.banner h2 {
    font-size: 120px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .banner h2 {
        font-size: 48px;
    }
}

.banner button {
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.banner button:hover {
    background: #919191;
}

.deco {
    display: flex;
    justify-content: flex-end;
    margin-top: 180px;
}

@media(max-width: 767px) {
    .deco img {
        max-width: calc(100%/3);
    }
}

/*describe*/
.describe {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 80px;
}

@media(max-width:767px) {
    .describe {
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 48px;
    }
}

.describe p {
    font-size: 32px;
}

@media(max-width:767px) {
    .describe p {
        font-size: 20px;
    }
}

.describe h2 {
    font-size: 48px;
    width: 66.6%;
}

@media(max-width:767px) {
    .describe h2 {
        margin-top: 24px;
        font-size: 32px;
        width: 100%;
    }
}

/*benefit*/
.benefit {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

@media(max-width: 767px) {
    .benefit {
        flex-wrap: wrap;
    }
}

.benefit li {
    max-width: calc(33.33% - 15px);
    padding: 80px 40px;
    border-radius: 16px;
    border: 1px solid #525252;
}

@media(max-width: 767px) {
    .benefit li {
        min-width: 100%;
        padding: 40px 20px;
    }
}

.benefit li span {
    font-size: 80px;
}

.benefit li h3 {
    font-size: 32px;
    padding: 20px 0;
}

.benefit li p {
    font-weight: normal;
}

/*partner*/
.partner {
    margin-top: 160px;
    margin-bottom: 160px;
    position: relative;
}

@media(max-width: 767px) {
    .partner {
        margin-top: 120px;
        margin-bottom: 48px;
    }
}

.partner p {
    font-size: 32px;
    margin-bottom: 80px;
}

@media(max-width: 767px) {
    .partner p {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.partner ul {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.partner img {
    min-width: 160px;
}

.box-left {
    width: 180px;
    height: 60%;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.box-right {
    width: 180px;
    height: 60%;
    background: linear-gradient(-90deg, black 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

@media(max-width: 767px) {

    .box-left,
    .box-right {
        width: 30%;
        height: 80%;
    }
}

/*review*/
.review {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 160px;
}

@media(max-width: 767px) {
    .review {
        flex-wrap: wrap;
    }
}

.review-card {
    max-width: calc(33.33% - 15px);
    padding: 40px;
    background: rgba(255, 255, 255, 8%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;

}

@media(max-width: 767px) {
    .review-card {
        min-width: 100%;
        margin-bottom: 5px;
    }
}

.star {
    display: flex;
}

.star span {
    font-size: 16px;
    padding-right: 5px;
}

.thoughts {
    font-weight: normal;
    padding-bottom: 40px;
    margin: 20px 0;
    flex-grow: 1;
}

.user {
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.user-intro {
    padding-left: 16px;
}

.job {
    font-size: 14px;
    margin-top: 4px;
    font-weight: normal;
}

.bg-white h2 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
}

@media(max-width: 767px) {
    .bg-white h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }
}

/*search*/
.search {
    position: relative;
}

.search-bar {
    width: 100%;
    background: #F2F2F2;
    padding: 20px 76px;
    border-radius: 16px;
    color: #919191;
    font-size: 16px;
    border: none;
    outline: none;
}

.magnifier {
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 3%;
}

@media(max-width: 767px) {
    .search-bar{
        padding: 25px 76px;
    }
    .magnifier {
        left: 7%;
    }
}

.search-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

@media(max-width: 767px) {
    .search-list {
        position: relative;
        padding-bottom: 80px;
        margin: 20px 0 40px 0;
    }
}

.filter:hover > .pop-AI,
.sequence:hover > .pop-oldnew {
    display: block;
}

.combobox {
    padding: 20px 32px;
    border-radius: 16px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    background: white;
    font-size: 16px;
    position: relative;
}

.combobox span {
    font-size: 16px;
    margin-left: 12px;
}

.pop-AI,
.pop-oldnew {
    display: none;
    position: absolute;
    margin-top: 4px;
    border-radius: 16px;
    line-height: 2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 1;
    width: 220px;
}

.pop-AI ul {
    margin: 20px 0;
}

.pop-AI p {
    font-size: 12px;
    font-weight: normal;
    padding: 0 32px;
}

.pop-AI a {
    display: block;
    padding: 0 32px;
}

.pop-AI a:hover {
    background: #F2F2F2;
}

.pop-oldnew {
    width: 160px;
    padding: 20px 0;
}

.pop-oldnew a {
    display: block;
    padding: 0 45px;
}

.pop-oldnew a:hover {
    background: #F2F2F2;
}

.search-menu {
    display: flex;
}

@media(max-width: 767px) {
    .search-menu {
        width: 100%;
        text-align: center;
        overflow-x: auto;
        position: absolute;
        bottom: 0;
    }
}

.search-menu a {
    display: block;
    padding: 8px 16px;
    margin: 0 4px;
    color: #919191;
    border-radius: 16px;
}

@media(max-width: 767px) {
    .search-menu a {
        width: 90px;
        padding: 8px;
    }
}

.search-menu a:hover {
    color: #020202;
    background: #F2F2F2;
}



/*service*/
.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 60px;
}

@media(max-width: 767px) {
    .service {
        margin-bottom: 50px;
    }
}

.service-card {
    max-width: calc(33.33% - 12px);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
}

@media(max-width: 767px) {
    .service-card {
        min-width: 100%;
    }
}

.pic {
    width: 100%;
    overflow: hidden;
}


.pic img,
.AI-model span {
    min-width: 100%;
    transition: all .5s;
}

.pic img:hover,
.AI-model span:hover {
    transform: scale(1.2);
}

.service-intro {
    padding: 20px 32px;
    flex-grow: 1;
}

.service-intro h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.service-intro p {
    font-size: 14px;
    font-weight: normal;
}

.AI-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-top: 1px solid #F2F2F2;
}

.AI-model h5 {
    font-weight: normal;
}

/*page*/
.page {
    display: flex;
    justify-content: flex-end;
}

.page li a {
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 16px;
    margin: 2px;
}

.nextpage {
    margin: 0 20px;
    border-radius: 6px;
}

.page li a:hover,
.nextpage:hover {
    background: #F2F2F2;
}

/*call to action*/
.cta {
    text-align: center;
    padding: 80px 0;
}

@media(max-width: 767px) {
    .cta {
        padding: 120px 0;
        margin: 40px 0;
    }
}

.cta h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

@media(max-width: 767px) {
    .cta h2 {
        font-size: 48px;
    }
}

.start {
    font-size: 20px;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 16px;
    background: black;
    color: white;
}

.start span {
    margin-left: 12px;
}

.start:hover {
    background: #919191;
}

.start img {
    margin-left: 12px;
}

/*aside*/
.cta-side {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 80px 0;
    margin-top: 80px;
}

@media(max-width: 767px) {
    .cta-side {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 40px;
    }
}

.side-map {
    display: flex;
    flex-direction: column;
}

.side-map a {
    font-size: 80px;
    margin: 4px 0;
}

@media(max-width: 767px) {
    .side-map a {
        font-size: 48px;
    }
}

.side-map a:hover {
    color: #919191;
}

.cta-side img {
    width: 250px;
    height: 40px;
}

@media(max-width: 767px) {
    .cta-side img {
        margin-bottom: 40px;
    }
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    border-top: 1px solid white;
}

@media(max-width:767px) {
    .footer {
        padding: 20px 0;
        position: relative;
    }
}

.footer-left {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .footer-left {
        flex-direction: column;
    }
}

@media(max-width:767px) {
    .footer-left h3 {
        margin: 16px 0;
    }
}

.sns {
    display: flex;
    margin-left: 90px;
}

@media(max-width: 767px) {
    .sns {
        margin: 16px 0;
    }
}

.sns a {
    padding: 12px 20px 12px 0;
}

.sns a:hover,
.totop:hover {
    color: #919191;
}

.totop {
    padding: 12px 0;
}

@media(max-width: 767px) {
    .totop {
        position: absolute;
        right: 0;
        top: 10%;
    }
}

.totop span {
    margin: 0 12px;
}